<!DOCTYPE html>
<html lang="en" ng-app="BookApp">
<head>
    <meta charset="UTF-8">
    <title>Book Management</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">

</head>
<body ng-controller="BookCtrl as ctrl">

<div class="container">
    <h1>Book Management</h1>
    <form name="titleForm" novalidate ng-submit="ctrl.searchByTitle()">
        <input type="text" ng-model="ctrl.title" required>
        <button type="submit" ng-disabled="titleForm.$invalid">Title Search</button>
    </form>
    <form name="authorForm" novalidate ng-submit="ctrl.searchByAuthor()">
        <input type="text" ng-model="ctrl.author" required>
        <button type="submit" ng-disabled="authorForm.$invalid">Author Search</button>
    </form>

    <table class="table table-striped" ng-show="ctrl.book" ng-repeat="item in ctrl.books" >
        <thead>
        <tr>
            <th>Field Name</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Title:</td>
            <td>{{ item.title}}</td>
        </tr>
        <tr>
            <td>Author Last Name:</td>
            <td>{{item.author_lastname}}</td>
        </tr>
        <tr>
            <td>Author First Name:</td>
            <td>{{ item.author_firstname}}</td>
        </tr>
        <tr>
            <td>Thumbnail of the Cover</td>
            <td><img ng-src="/img/{{item.cover_thumbnail}}" style="border: none; margin: 15px; width: 100px; height: 100px;"> </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
<script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="/bower_components/angular/angular.js"></script>
<script type="text/javascript" src="index.js"></script>

</html>